<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DreamCorpsInternational Tech Team Member</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/round-about.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Page Content -->
    <div class="container">

        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About Us
                    <small>It's Nice to Meet You!</small>
                </h1>
                <p>DreamCorps IT team is full of passionate and intelligent software engineers that comes from all around the world. We gather togather by one same goal - To better support the Dreamcorps International volunteer work. If you have the same dream and same spirit as us. Don't hesitate to join us!</p>
            </div>
        </div>

        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Team</h2>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>Li Hongfei
                    <small>CTO</small>
                </h3>
                <p>Hongfei is interested in working for non-profits, start-ups, and playing guitars. He was greatly moved by DC’s mission, vision, as well as its devoted teams, and joined Dream Corps in 2014 as IT team member. Starting from 2015, Hongfei is leading IT team​ as Chief Technology Officer.</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>Wei Junjie
                    <small>Software Engineer</small>
                </h3>
                <p>Junjie has joined Dream Corps for nearly 3 years.   </p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>Ding Jiyuan
                    <small>Software Engineer</small>
                </h3>
                <p> Jiyuan likes to drink and code at the same time.
                    Jiyuan doesn't recreate the wheel.
                    Jiyuan is smart.
                    Be like Jiyuan.
                </p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>Tony Li Xu
                    <small>Software Engineer</small>
                </h3>
                <p>Tony is expert in Backend design and development, System architecture design and administration. 爱好？</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>Han Yi
                    <small>Software Engineer</small>
                </h3>
                <p>  </p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>Tao Jingyi
                    <small>Software Engineer</small>
                </h3>
                <p>Jingyi mainly focus on website FrontEnd development. Outside work, Jingyi likes reading books and comics. Music, Movie, Writing, Yoga ...  </p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>Shifa
                    <small>Software Engineer</small>
                </h3>
                <p>   </p>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; DreamCorpsInternational 2016</p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
